

body{
	background-color:#0000ff;
	font-family:'Showcard Gothic';
	color:#ff0000;
}

button{

	margin-left: 10px;
	background-color: #ff0000;
	color:#0000ff;
	font-family:'Showcard Gothic';

}


